<!DOCTYPE html>

<html>

<head>
  <title>Yiff Today - Aggregation</title>

  <%- include("./partials/head", {navData: {active: "Home"}}); %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <%- include("./partials/nav", {navData: {active: "Home"}}); %>
  <div class="columns">
    <div class="column is-4">
      <canvas id="submissions-chart"></canvas>
    </div>
    <div class="column is-4">
      <canvas id="e621iqdb-chart"></canvas>
    </div>
  </div>

  <!-- Cursed -->
  <%- include("./index.js.ejs"); %>
</body>

</html>