<!DOCTYPE html>

<html>

<head>
  <title>Reverser - Backlog</title>

  <%- include("../partials/head", {navData: {active: "Backlog"}}); %>
</head>

<body>
  <%- include("../partials/nav", {navData: {active: "Backlog"}}); %>

  <%- include("../partials/submissions/listing", {options: {enableSearch: true}}) %>
  <script src="/js/backlog/listing.js"></script>
</body>

</html>